.container {
  display: flex;
  margin: 20px 0;
  width: 400px;
  border: 1px solid #fff;

  .searchInput {
    flex-grow: 2;
  }

  .searchButton {
    flex-grow: 1;
    color: #006754;
    transition: all 0.2s;

    &:active {
      transform: scale(0.95);
    }

    &:hover {
      color: #fff;
      background-color: #006754;
    }
  }
}
