.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  min-height: 300px;
  background-color: aliceblue;
  padding: 20px 30px;
  border-radius: 15px;

  .title {
    text-align: center;
  }

  .quoteText {
    font-weight: 300;
  }

  .quoteAuthor {
    font-style: italic;
    font-weight: 500;
  }
}
